
<div class="container text-center" style="background-color:lavender">


    <h2 class="text-dark">E Learning System</h2>
    <br />
    <img src="~/ElearningPhoto.png" alt="image" width="400" height="400" />
    <div class="container">
        <br/>
    <p style="color:indigo">
        In this new era of electronics, we know the concept of e-learning which does not include the use of paper and pen. There are many advantages of e-learning system. In this e-learning system we can assign projects to students and can share documents and more easily
    </p>   
    </div>
    
    <div/>
