@{
    @model ElearningSystem.DataLayer.Models.Upload.FileClass
}
<center>
  <div class="container" style="background-size:cover; background-color:lavender; height:605px">
        <hr />
        <table class="table">
            <tr>
                <th> File Name</th>
                <th>Action</th>
            </tr>
            @foreach (var item in Model.FileImage)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td><a class="btn btn-danger"href="@Url.Action("Delete" , "Student", new { imgdel = @item.Name })">Delete</a></td>
                </tr>
            }
        </table>
      </div>

</center>
